section{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    height: 100%;
    width: 95%;
    
}
.google-map{
    z-index: 1;
    height: 600px; 
    width: 1000px;
   
    /* margin-right: 20px;
    background-image: url('/images/location_ruths_cake.PNG');
    background-size: 100%;
    background-position: center; */

}
.google-map img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.contact-info{
    padding: 10px;
    margin-left: 60px;
    color: #3f383a;
    min-width: 250px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1.2em;
}
h2{
    font-family: "Cardo", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3em;
}
.social-btn{
    display: inline;
    text-decoration: none;
    font-weight: 550;
    /* color: #584e51; */
    color: #3f383a;
    font-size: 1em;
    width: 100%;
    height: 100%;
    position: relative;
    top: 1px;
}
.social-btn:hover{
    color: pink;
}





@media screen and (max-width: 1200px){
     .google-map{
        width: 100%;
        height: 500px;
        margin: 0 auto;
    }
    section{
        display: block;
    }
    .contact-info{
        text-align: center;
        margin-left: 10px;
    }
}
@media screen and (max-width: 860px){
    .google-map{
        height: 400px;
    }
}

@media screen and (max-width: 580px){
    .google-map{
        height: 300px;
    }
}


@media screen and (max-width: 470px){
    .google-map{
        height: 250px;
    }
}

@media screen and (max-width: 430px){
    body{
        width: 99%;
    }
    section{
        width: 100%;
    }
}
