section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    background-color:  #d8e2dc; 
    border-radius: 10px;
    height: 100%;
    width: 95%;
    box-shadow: 0px 0px 10px grey;
    
}
/* .first-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-line{
    padding-left: 100px;
} */
p{
    margin:10px;
}
.about-text{
    text-align: center;
    padding: 30px;
    line-height: 1.3;
    position: relative;
    top: 15px;
    color: #3f383a;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1.2em;
}
.about-text i {
    color: #64a27d;
}

.img-wrapper{
    width: 1300px;
    height: inherit;
}
.adina-img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* .sm-screen-img{
    display: none;
}
.smallest-screen-img{
    display: none;
}
.the-smallest-screen-img{
    display: none;
} */


.breakline{
    display: flex;
    justify-content: center;
    color: #584e51;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4em;
    margin-top: 40px;
    /* margin-bottom: 30px; */
}

.breakline:first-child{
    margin-top: -20px;
    margin-bottom: 40px;
}
.breakline img{
    height: 25px;
}
.small-screens{
    display: none;
}



/* Responsiveness */

@media screen and (max-width: 1370px){
    .breakline{
        margin-top: 20px;
    }
    .breakline:first-child{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1210px){
    /* main{
        height: 700px;
    } */
}


@media screen and (max-width: 1115px){
    .small-screens{
        display: block;
    }
    .large-screens{
        display: none;
    }
    .img-wrapper{
        width: 100%;
        height: 450px;
        
    }
    section{
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width: 600px){
    .img-wrapper{
        height: 400px;
    }
}

  @media screen and (max-width: 510px){
    .img-wrapper{
        height: 350px;
    }
    .breakline img{
        height: 20px;
    }
    .about-text{
        font-size: 1em;
    }
  }

  @media screen and (max-width: 400px){
    .img-wrapper{
        height: 270px;
    }
    .breakline img{
        height: 15px;
    }
}

@media screen and (max-width: 360px){
    .img-wrapper{
        height: 230px;
    }
}