header{
    position: relative;
    top: -50px;
    width: 90%;
    margin: auto;
    
}

nav{
    
    position: relative;
    height: 180px;
}
.initial-menu-list{
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* top: 5rem;
    left: 48px; */
    /* background-color: #ff9776; */
    /* display: none; */
    margin-top: 40px;
    padding: 0;
    
}
.menu-items-list{
    list-style: none;
    padding-bottom: 0px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
.menu-items-list li:last-child{
    padding-right: 0;
}

 /* anchor element */
.menu-item{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    color: pink;
    text-decoration: underline 0.13em rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
    /* text-transform: uppercase; */
}
.menu-item:hover{
    text-decoration-color: pink;
}
.menu-item:active{
    color: #584e51;

}
.menu-social-btns{
    position:relative;
    width: 120px;
    margin-left:30px;
}

.menu-social-btns ul{
    padding:0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.li-social-btn{
    position:relative;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #d8e2dc;
    border-radius: 50%;
    
}
.social-btn{
    text-decoration: none;
    font-weight: 550;
    color: #584e51;
    font-size: 1.15em;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 5px;
}
.social-btn:hover{
    color: pink;
}

.logo {
    /* background-color: pink; */
    background-image: url('../../public/images/ruths_cake_logo_lateral_MARE3.PNG');
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-position: center;
    display: inline-block;
    width: 440px;
    height: 110px;
    text-indent: -9999999px;
    position: relative;
    top: 0px;
}


/* DROPDOWN-MENUS */

.dropdown-menu{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f5f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5%;
    z-index: 1;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    color: #584e51;
    padding: 12px 16px;
    font-size: 1.12em;

}
/*  */
.torturi:hover .dropdown-torturi{
    display: block;
}
.dropdown-torturi a:hover{
    color: rgb(252, 163, 178);
    background-color:  #d8e2dc;
}
.nunta:hover .dropdown-nunta{
    display: block;
}
.dropdown-nunta a:hover{
    color: rgb(252, 163, 178);
    background-color:  #d8e2dc;
}
.prajituri:hover .dropdown-prajituri{
    display: block;
}
.dropdown-prajituri a:hover{
    color: rgb(252, 163, 178);
    background-color:  #d8e2dc;
}




