header{
    position: fixed;
    width: 100%;
    padding: 10px 50px 0px 40px;
    margin: 0 auto;   
    background-color: rgba(241, 245, 249, 0.95);
    z-index: 20;
}


.initial-menu-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0;

    font-family: "Cardo", serif;
    font-optical-sizing: auto; 
    font-weight: 500;
    font-style: normal;
    font-size: 1.38em;
    
}
.menu-items-list{
    list-style: none;
    padding-bottom: 0px;
    /* padding-left: 200px; */
    display: flex;
    justify-content: flex-end;
    width: 90%;
    
}
/* .menu-items-list li:last-child{
    padding-right: 0;
} */

 /* anchor element */
.menu-item{
    padding: 0 30px;
    color: pink;
    text-decoration: none;
    /* text-shadow: 0px 0px 8px rgba(179, 223, 196, 0.8); */
}
.menu-item:hover{
    color:  rgb(244, 111, 133);
}
.menu-item:active{
    color:rgb(244, 111, 133);
}

.menu-social-btns ul{
    margin-left: 30px;
    padding:0;
    width: 120px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.li-social-btn{
    position:relative;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #d8e2dc;
    border-radius: 50%;
}
.social-btn{
    text-decoration: none;
    font-weight: 550;
    /* color: #584e51; */
    color: #3f383a;
    font-size: 1em;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 1px;
}
.social-btn:hover{
    color: pink;
}

.logo {
    /* background-color: pink; */
    background-image: url('../../images/ruths_cake_logo_lateral_MARE3.PNG');
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-position: center;
    display: inline-block;
    width: 440px;
    height: 110px;
    text-indent: -9999999px;
    position: relative;
    top: 0px;
}

/* HAMBURGER MENU */


.hamburger{
    cursor: pointer;
    display: none;
}

  .hamburger .line{
    display: block;
    width: 45px;
    height: 5px;
    margin-bottom: 7px;
    background-color: #3f383a;
    border-radius: 10px;
  }


/* DROPDOWN-MENUS */

.dropdown-menu{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    /* text-align: center; */
    background-color: #f1f5f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 10;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    color: #584e51;
    padding: 12px 16px;
    font-size: 0.9em;

}
/*  */
.torturi:hover .dropdown-torturi{
    display: block;
    overflow: hidden;
}

.dropdown-torturi a:hover{
    color: rgb(244, 111, 133);
    box-shadow: 0px 8px 16px 0px rgba(216, 226, 220, 1.3);
    border-radius: 10px;
}
/* .dropdown-torturi a:hover .menu-item{
    color:  rgb(244, 111, 133);
} */
.nunta:hover .dropdown-nunta{
    display: block;
    overflow: hidden;
}
.dropdown-nunta a:hover{
    color: rgb(244, 111, 133);
    box-shadow: 0px 8px 16px 0px rgba(216, 226, 220, 1.3);
    border-radius: 10px;
}
.prajituri:hover .dropdown-prajituri{
    display: block;
    overflow: hidden;
}
.dropdown-prajituri a:hover{
    color: rgb(244, 111, 133);
    box-shadow: 0px 8px 16px 0px rgba(216, 226, 220, 1.3);
    border-radius: 10px;
}


/* OVERLAY WINDOW (modal) */

.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(216, 226, 220, 0.9);
}
.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;

}
.overlay a{
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    color: #3f383a;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: pink;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 3em;
  }


/* Responsiveness */


  @media screen and (max-width: 1500px){
    .menu-item{
      padding: 0 20px;
    }
    
  }

  @media screen and (max-width: 1370px){
    
    .menu-item{
      padding: 0 15px;
    }
    .menu-social-btns ul{
      margin-left: 15px;
    }  
    
  }

  @media screen and (max-width: 1300px){
    .menu-social-btns{
      display:none;
    }
  }

  @media screen and (max-width: 1165px){
    .logo{
      width: 380px;
      background-repeat: no-repeat;
    }
    
  }

  @media screen and (max-width: 1110px){
    .menu-items-list{
      display: none;
    }
    .hamburger{
      display: block;
    }
  }

  @media screen and (max-width: 700px){
    .logo{
      width: 350px;
      background-repeat: no-repeat;
    }
    .hamburger .line{
        width: 45px;
        width: 40px;
        height: 4px;
        /* margin-bottom: 5px; */
    }
    header{
        padding: 10px 30px 0px 25px;
    }


  }

  @media screen and (max-width: 600px){

    .hamburger .line{
      width: 35px;
      height: 3.8px;
      margin-bottom: 5px;
    }
    .logo{
      width: 330px;
      background-repeat: no-repeat;
    }

  }

  @media screen and (max-width: 510px){
   
    .logo{
      width: 280px;
      background-repeat: no-repeat;
    }
    header{
        padding: 0 20px 0 15px;
    }
  }

  @media screen and (max-width: 420px){

    .hamburger .line{
      width: 30px;
      height: 3.6px;
      margin-bottom: 4.5px;
    }
    .logo{
      width: 250px;
      background-repeat: no-repeat;
    }
  }

  @media screen and (max-width: 380px){

    .hamburger .line{
      width: 27px;
      height: 3.3px;
      margin-bottom: 4.5px;
    }
    .logo{
      width: 250px;
      background-repeat: no-repeat;
    }
    header{
        top: -10px;
    }
  }
  @media screen and (max-width: 350px){
    .logo{
        width: 230px;
        background-repeat: no-repeat;
      }
  }


