main{
    position: relative;
    top: -80px;
    /* max-width: 95%; */
    width: 95%;
    margin: 0 auto;
    height: 510px;

}
#cards-wrapper{
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    overflow: hidden; 
}

.card{
    display:flex;
    justify-content: space-around;
}

.img-wrapper{
    margin: 5px;
    width: 450px;
    height: 450px;
    padding: 30px;
    position: relative;
    cursor: pointer;
}
.img-wrapper img{
    /* margin: 30px; */
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px grey;
}

.hover-effect:hover img{
    opacity: 0.4;
    transform: scale(1.07);
}

.hover-effect:hover span{
    color: #584e51;
}

.img-wrapper span{
    position: absolute;
    top: 220px;
    left: 70px;
    color: white;
    font-size: 2.2em;
    font-weight: 600;
}

#candybar-card span{
    left: 120px;
}

#marturii-card span{
    left: 135px;
}


.breakline{
    display: flex;
    justify-content: center;
    color: #584e51;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-size: 1.6em;
    font-style: normal;
    margin: 25px 30px;
    margin-bottom: 20px;
}
.breakline span{
    padding: 0 15px;
    position: relative;
    top:-5px;
}
.breakline img{
    height: 25px;
}

/* Offer button */
.offer-btn{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 330px;
    max-height: 120px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #73db9d;
}
.offer-btn a{
    text-decoration: none;
    /* text-transform: uppercase; */
    
    color:  white;
    font-family: "Cardo", serif;
    font-size: 1.75em;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    

    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 27px;
}
.offer-btn:hover{
    box-shadow: 0px 8px 16px 0px rgba(95, 222, 146, 0.3);
    background-color: rgba(115, 219, 157, 0.4);
}
.offer-btn:hover a{
    /* color:  #584e51; */
    color: rgb(96, 186, 132);
}

/* Responsiveness */

@media screen and (max-width: 1545px){
    .img-wrapper{
        margin: 5px;
        width: 400px;
        height: 400px;
        padding: 25px;
    }
    .img-wrapper span{
        top: 200px;
    }
}
@media screen and (max-width: 1380px){
    .img-wrapper{
        margin: 5px;
        width: 380px;
        height: 380px;
        padding: 20px;
    }
    
}
@media screen and (max-width: 1325px){
    .img-wrapper{
        margin: 5px;
        width: 350px;
        height: 350px;
        padding: 20px;
    }
    .img-wrapper span{
        top: 180px;
        left: 50px;
    }
    #candybar-card span{
        left: 100px;
    }
    
    #marturii-card span{
        left: 115px;
    }
}
@media screen and (max-width: 1215px){
    #cards-wrapper{
        flex-wrap: wrap;
    }   
    .img-wrapper{
        padding: 10px;
    }
}
@media screen and (max-width: 830px){
    .img-wrapper{
        margin: 5px;
        width: 340px;
        height: 340px;
        padding: 20px;
    }
    .img-wrapper span{
        top: 160px;
        left: 40px;
    }
    #candybar-card span{
        left: 90px;
    }
    
    #marturii-card span{
        left: 100px;
    }
}
@media screen and (max-width: 800px){
    .img-wrapper{
        margin: 5px;
        width: 280px;
        height: 280px;
        padding: 5px;
    }
    .img-wrapper span{
        top: 130px;
        left: 20px;
        font-size: 2em;
        font-weight: 600;
    }
    #candybar-card span{
        left: 65px;
    }
    
    #marturii-card span{
        left: 80px;
    }
}
@media screen and (max-width: 670px){
    .img-wrapper{
        width: 250px;
        height: 250px;
    }
    .img-wrapper span{
        top: 115px;
        left: 50px;
        font-size: 2em;
        font-weight: 600;
    }
    #candybar-card span{
        left: 50px;
    }
    
    #marturii-card span{
        left: 60px;
    }
    .offer-btn{
        width: 300px;
    }
}

@media screen and (max-width: 610px){
    .img-wrapper{
        width: 300px;
        height: 300px;
    }
    .img-wrapper span{
        top: 145px;
        left: 35px;
    }
    #candybar-card span{
        left: 75px;
    }
    
    #marturii-card span{
        left: 85px;
    }

}
@media screen and (max-width: 510px){
    .img-wrapper{
        width: 280px;
        height: 280px;
    }
    .img-wrapper span{
        top: 135px;
        left: 30px;
        font-size: 1.8em;
        font-weight: 600;
    }
    #candybar-card span{
        left: 70px;
    }
    
    #marturii-card span{
        left: 80px;
    }
}
@media screen and (max-width: 420px){
    .img-wrapper{
        width: 250px;
        height: 250px;
    }
    .img-wrapper span{
        top: 125px;
        left: 25px;
        font-size: 1.7em;
        font-weight: 550;
    }
    #candybar-card span{
        left: 60px;
    }
    
    #marturii-card span{
        left: 70px;
    }
}