section{
    width: 90%;
    margin: 0 auto;
    /* padding-top: 20px; */
}
.cakes-grid{
    /* display: flex;
    justify-content: center; */
    overflow-y: auto;
    /* flex-wrap: wrap; */ 
    height: auto;

    /* padding-left: 30px;
    position: relative;
    top: -20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 20px; */
}


.prajituri-tava, .prajituri-asortate, .prajiturile-copilariei, .prajituri-speciale, .fursecuri{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
 
}

.img-wrapper{
    position: relative;
    margin: 5px;
    padding: 10px;
    width: 350px;
    height: 350px;
    cursor: pointer;
}
.img-wrapper img{
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; 
    transition: 0.3s;
}
.cake-title{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 300px; */
    height: 100px;
}
.hover-effect:hover span{
    color: #584e51;
    transition: 0.5s;
}
.img-wrapper span{
    position: static;
    font-size: 2.3em;
    font-weight: 700;
    color: #584e51;
    text-shadow: none;
    text-align: center;
}
.cake-title span div{
    font-size: 0.7em;
    font-weight: 450;
}
.not-yet{
    opacity: 0.5;
}
.img-wrapper:hover img{
    pointer-events: none;
}
.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}
.card div:hover img{
    opacity: 0.5;
    transform: scale(1.03);
    transition: 0.3s;
}
.breakline{
    display: flex;
    justify-content: center;
    color: #584e51;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-size: 1.6em;
    font-style: normal;
    margin: 30px;
}

.breakline:first-child{
    margin-top: 5px;
}
.breakline span{
    padding: 0 15px;
    position: relative;
    top:-5px;
}
.breakline img{
    height: 25px;
}

/* SIDE ARROWS */


.side-arrow-btn{
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 10px 10px 0;
    width: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.side-arrow-btn:hover{

    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.1);
    color:  rgb(216, 226, 220);
    text-shadow: 1px 1px 5px grey;
}

.left-arrow-btn{
    display: none;
    /* background-color: #d8e2dc; */
}


.down-arrow-btn{
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;    

    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;
    height: 35px;
}
.down-arrow-btn:hover{

    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.1);
    color:  rgb(216, 226, 220);
    text-shadow: 1px 1px 5px grey;
}

.side-info{
    display: none;
    box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.2);
    width: 150px;
    padding: 10px;
    padding-top: 50px;
    font-size: 1.2em;
    background-color: #d8e2dc;
    border-radius: 10px;
    /* transition: 0.5s; */

}
.note{
    display: none;
    font-size: 0.7em;
    line-height: 1.35;
}
/* MODAL WINDOW */

.modal img{
    border-radius: 10px;
    object-fit: contain;
    margin: auto;
    display: block;
    max-width: 600px;
    /* width: 80%; */
}
.modal img:hover{
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    /* padding-top: 10px; */
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    /* rgba(216, 226, 220, 0.9); */
}

.modal a{
    text-decoration: none;
    display: block;
}
/* The Close Button */

.closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 5em;
    font-weight: 350;
    color: #3f383a;
    transition: 0.3s;
    z-index: 3;
    text-shadow: 1px 0.5px 3px grey;
}


/* .close:hover,
.close:focus {
    color:  pink;
    text-decoration: none;
    cursor: pointer; 
} */

/* Responsiveness */

@media screen and (max-width: 1505px){
    /* .card{
        display:flex;
        justify-content: space-around;
        margin: 10px 30px;
    } */
    .left-side-card{
        height: 450px;
    }
    .img-wrapper{
        margin: 5px;
        padding: 10px;
        width: 325px;
        height: 325px;
    }
    section{
        width: 100%;
    }
    .img-wrapper span{
        line-height: 1.05;
    }
    .cake-title span div{
        margin-top: 10px;
        font-size: 0.7em;
        font-weight: 450;
    }
    .side-info{
        width: 180px;
    }
}
@media screen and (max-width: 1345px){
    .left-side-card{
        height: 425px;
    }
    .img-wrapper{
        margin: 5px;
        padding: 10px;
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 750px){
    .modal{
        /* display: flex; */
        align-items: center;
    }
    /* .modal img{
        max-width: 600px;
    } */
}
@media screen and (max-width: 650px){
    .modal img{
        max-width: 550px;
    }
}
@media screen and (max-width: 630px){
    
    .card{
        margin: 10px;
    }
    .left-side-card{
        height: 400px;
    }
    .img-wrapper{
        margin: 5px;
        padding: 10px;
        width: 280px;
        height: 280px;
    }
    .breakline{
        font-size: 1.5em;
    }
    .breakline span{
        padding: 0 10px;
        top:-5px;
    }
    .breakline img{
        height: 20px;
    }
    .modal img{
        max-width: 480px;
    }
}

@media screen and (max-width: 600px){
    section{
        padding-top: 10px;
    }
}


@media screen and (min-width: 561px){
    .card{
        flex-direction: row;
        margin: 10px 20px;
    }
    .left-side-card{
        border-radius: 10px;
    }
}

@media screen and (max-width: 560px){

    .card{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .left-side-card{
        border-radius: 10px 10px 0 0;
    }

    .left-arrow-btn{
        display: none;
    }
    .right-arrow-btn{
        display: none;
    }
    .side-arrow-btn{
        display: none;
    }
    .down-open-btn{
        display: flex;
    }
    .card{
        width: 280px;
    }
    .left-side-card{
        height: 360px;
        width: inherit;
    }
    .side-info{
        width: inherit;
        border-radius: 0 0 10px 10px;
    }

    .img-wrapper{
        margin: 5px;
        padding: 10px;
        width: 250px;
        height: 250px;
    }
    .img-wrapper span{
        font-size: 2.1em;
        font-weight: 700;
        line-height: 1.05;
    }


}
@media screen and (max-width: 500px){
    .modal img{
        max-width: 400px;
    }
}
@media screen and (max-width: 400px){
    /* .card{
        width: 260px;
    }
    .left-side-card{
        height: 330px;
    }
    .img-wrapper{
        margin: 5px;
        padding: 10px;
        width: 235px;
        height: 235px;
    }
    .img-wrapper span{
        font-size: 1.7em;
        font-weight: 700;
        line-height: 1;
    }
    .side-info{
        font-size:1em;
    } */

    .breakline{
        font-size: 1.3em;
    }
    .breakline span{
        padding: 0 10px;
        top:-5px;
    }
    .breakline img{
        height: 15px;
    }
    .modal img{
        max-width: 350px;
    }
}
@media screen and (max-width: 350px){
    .modal img{
        max-width: 300px;
    }
}
@media screen and (max-width: 335px){

    .breakline{
        font-size: 1.2em;
    }
    .breakline span{
        padding: 0 10px;
        top:-5px;
    }
    .breakline img{
        height: 13px;
    }
}