main{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -60px;
    max-width: 95%;
    width: 93%;
    margin: 0 auto;
    height: 600px;
}
.sidebar-menu{
    width: 25%;
    position: relative;
    top: 50px;
}

.sidebar-item-box{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 280px;
    max-height: 120px;
    text-align: center;
    border-radius: 10px;

}
.sidebar-item-box:hover{
    color: rgb(244, 111, 133);
}
.sidebar-item-box:hover a{
    color: rgb(244, 111, 133);
    box-shadow: 0px 8px 16px 0px rgba(216, 226, 220, 1.3);
    /* color: #f4acb7; */
}


.sidebar-item-box a{
    text-decoration: none;
    /* text-transform: uppercase; */
    
    color: #584e51;
    font-family: "Cardo", serif;
    font-size: 1.4em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    

    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.cakes-grid{
    overflow-y: auto;
    padding-left: 30px;
    position: relative;
    top: -20px;
    
}

.prajituri-tava, .prajituri-asortate, .prajiturile-copilariei, .fursecuri{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.img-wrapper{
    margin: 0 30px;
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
}

.img-wrapper img{
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .cakes-grid img{
    height: 250px;  
} */

.breakline{
    display: flex;
    justify-content: center;
    color: #584e51;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-size: 1.6em;
    font-style: normal;
    margin: 30px;
}

.breakline:first-child{
    margin-top: 10px;
}
.breakline span{
    padding: 0 15px;
    position: relative;
    top:-5px;
}
.breakline img{
    height: 25px;
}


/* Responsiveness */


@media screen and (max-width: 1385px){

    .img-wrapper{
        width: 225px;
        height: 225px;
    }
  }

  @media screen and (max-width: 1300px){
    .img-wrapper{
        width: 210px;
        height: 210px;
    }
  }

  @media screen and (max-width: 1190px){

    .torturi-aniversare, .torturi-botez, .torturi-majorate, .torturi-caserola{
        justify-content: center;
    }
    .img-wrapper{
        margin-left: 40px;
        margin-right: 40px;
    }
  }

  @media screen and (max-width: 1005px){
    .sidebar-menu{
        display: none;
    }
    .img-wrapper{
        margin: 20px;
    }
  }
  @media screen and (max-width: 950px){

    .img-wrapper{
        width: 200px;
        height: 200px;
    }
  }
  @media screen and (max-width: 910px){

   
  }

  @media screen and (max-width: 870px){
    main{
        width: 100%;
        /* background-color: pink; */
    }
    
   
  }

  @media screen and (max-width: 835px){
    .img-wrapper{
        width: 180px;
        height: 180px;
    }
  }

  @media screen and (max-width: 750px){
    .img-wrapper{
        width: 200px;
        height: 200px;
    }
    .img-wrapper{
        margin: 30px;
    }
  }


  @media screen and (max-width: 640px){
    .img-wrapper{
        width: 180px;
        height: 180px;
    }
  }

  @media screen and (max-width: 595px){
    .img-wrapper{
        width: 150px;
        height: 150px;
    }
    
  }
  @media screen and (max-width: 550px){
    .breakline{
        font-size: 1.3em;
        margin: 20px;
    }
    .breakline img{
        height: 18px;
    }
  }

  @media screen and (max-width: 530px){
    .img-wrapper{
        width: 110px;
        height: 110px;
        margin: 10px;
    }
    .breakline img{
        height: 15px;
    }
    .breakline{
        font-size: 1.2em;
        margin: 20px;
    }
    main{
        width: 100%;
    }
    .cakes-grid{
        padding-left: 0px;
        width: 100%;
    }
  }

  @media screen and (max-width: 465px){

    .img-wrapper{
        width: 100px;
        height: 100px;
    }
  }

  @media screen and (max-width: 435px){
    .img-wrapper{
        width: 130px;
        height: 130px;
        margin: 15px;
    }
  }
  @media screen and (max-width: 390px){
    .img-wrapper{
        width: 120px;
        height: 120px;
        margin: 10px;
    }
  }