* {
  box-sizing:border-box
}

html {
    background-color: #f1f5f9;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-style: normal;
    font-optical-sizing: auto;
  }
  

  body {
    margin: 0 auto;
    width: 97%;
    max-width: 97%;
    padding: 20px;
    line-height: 1.5;
    
  }
