section{ 
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.cakes-grid{
    overflow-y: auto;
    height: 100%;
}
.torturi-aniversare, .torturi-botez, .torturi-majorate, .torturi-caserola{
    /* background-color: #d8e2dc; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 0 20px;
    border-radius: 10px;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar { 
    -webkit-appearance: none;
    width: 5px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);

  } 
.img-wrapper{
    display: inline-block;
    margin: 15px;
    width: 320px;
    height: 320px;
}
.img-wrapper img{
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; 
    transition: 0.3s;
}
.img-wrapper img:hover{
    opacity: 0.5;
    transform: scale(1.03);
    transition: 0.3s;
    
}

/* MODAL WINDOW */

.modal img{
    border-radius: 10px;
    object-fit: contain;
    margin: auto;
    display: block;
    /* max-width: 700px; */
}
.modal img:hover{
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    /* rgba(216, 226, 220, 0.9); */
}

.modal a{
    text-decoration: none;
    display: block;
}
/* The Close Button */

.closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 5em;
    font-weight: 350;
    color: #3f383a;
    transition: 0.3s;
    z-index: 3;
    text-shadow: 1px 0.5px 3px grey;
}


/* .close:hover,
.close:focus {
  color:  pink;
  text-decoration: none;
  cursor: pointer; 
}*/


.breakline{
    display: flex;
    justify-content: center;
    color: #584e51;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 330;
    font-size: 1.6em;
    font-style: normal;
    margin: 30px;
}

.breakline:first-child{
    margin-top: 10px;
}
.breakline span{
    padding: 0 15px;
    position: relative;
    top:-5px;
}
.breakline img{
    height: 25px;
}

/* Responsiveness */

  @media screen and (max-width: 1300px){
    .img-wrapper{
        width: 280px;
        height: 280px;
    }
  }

  @media screen and (max-width: 1110px){
    .img-wrapper{
        width: 250px;
        height: 250px;
    }
  }

  @media screen and (max-width: 1005px){
    .sidebar-menu{
        display: none;
    }
    .img-wrapper{
        margin: 20px;
    }
  }
  @media screen and (max-width: 950px){

    .img-wrapper{
        width: 230px;
        height: 230px;
    }
  }
  @media screen and (max-width: 870px){
    main{
        width: 100%;
        padding: 0;
        padding-top: 140px;
        /* background-color: pink; */
    }
  }

  @media screen and (max-width: 850px){

    .img-wrapper{
        width: 210px;
        height: 210px;
    }
  }

  @media screen and (max-width: 800px){

    .img-wrapper{
        width: 190px;
        height: 190px;
    }
  }

  @media screen and (max-width: 730px){
    .img-wrapper{
        width: 250px;
        height: 250px;
    }
  }

  @media screen and (max-width: 620px){
    .img-wrapper{
        width: 220px;
        height: 220px;
    }
  }

  @media screen and (max-width: 563px){
    .img-wrapper{
        width: 200px;
        height: 200px;
    }
    .breakline img{
        height: 15px;
    }
    .breakline{
        font-size: 1.2em;
        margin: 20px;
    }
    .breakline:first-child{
        margin-top: 0px;
    }
    main{
        width: 100%;
    }
    .cakes-grid{
        padding-left: 0px;
        width: 100%;
    }
  }

  @media screen and (max-width: 525px){
    .img-wrapper{
        width: 180px;
        height: 180px;
        margin: 10px;
    }
    main{
        padding-top: 120px;
    }
    .torturi-aniversare, .torturi-botez, .torturi-majorate, .torturi-caserola{
        margin: 0 10px;
    }
  }

  @media screen and (max-width: 450px){

    .img-wrapper{
        width: 150px;
        height: 150px;
    }
    main{
        padding-top: 110px;
    }
  }

  @media screen and (max-width: 400px){
    .img-wrapper{
        margin: 7px;
    }
  }
  @media screen and (max-width: 360px){
    .img-wrapper{
        width: 130px;
        height: 130px;
    }
  }