main{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -60px;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    height: 600px;
}
.sidebar-menu{
    width: 25%;
    position: relative;
    top: 60px;
}

.sidebar-item-box{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 280px;
    /* padding: 40px; */
    text-align: center;
    border-radius: 10px;
}
.sidebar-item-box:hover{
    background-color: #d8e2dc;
}
.sidebar-item-box:hover a{
    color: rgb(252, 163, 178);
    /* color: #f4acb7; */
}


.sidebar-item-box a{
    text-decoration: none;
    /* text-transform: uppercase; */
    
    color: #584e51;
    font-family: "Lora", serif;
    font-size: 1.35em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;

    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.cakes-grid{
    overflow-y: auto;
    padding-left: 50px;
}
.torturi-aniversare, .torturi-botez, .torturi-majorate, .torturi-diverse{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    
}


.img-wrapper{
    margin: 0;
    padding: 0 30px;
}
.cakes-grid img{
    height: 180px;
    
    /* margin:10px; */
}

.breakline{
    display: flex;
    justify-content: center;
    color: #584e51;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4em;
    margin: 40px;
}

.breakline:first-child{
    margin-top: 10px;
}
.breakline span{
    padding: 0 15px;
    position: relative;
    top:-5px;
}
.breakline img{
    height: 25px;
}
