section{
    height: 100%;
    width: 82%;
    margin: 0 auto;
    padding-top: 10px;
}
#cards-wrapper{
    height:100%;
    display:flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    /* overflow: hidden;  */
}

.card{
    /* display:flex;
    justify-content: space-around; */
    margin: 10px;
}

.img-wrapper{
    margin: 5px;
    width: 450px;
    height: 450px;
    position: relative;
    cursor: pointer;
}
.img-wrapper img{
    border-radius: 50%;
    box-shadow: 0px 0px 10px grey;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; 
    transition: 0.3s;
}
.img-wrapper:hover img{
    opacity: 0.5;
    transform: scale(1.03);
    transition: 0.3s;
    
}
.hover-effect:hover span{
    color: #584e51;
    transition: 0.5s;
}

.img-wrapper span{
    position: absolute;
    top: 220px;
    left: 35px;
    color: white;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 1px 1px 5px grey;
}


#gallery_span{
    left: 80px;
}

/* Responsiveness */
@media screen and (max-width: 1300px){
    section{
        width: 95%;
    }
}
@media screen and (max-width: 1110px){
    .img-wrapper{
        width: 380px;
        height: 380px;
    }
    section{
        padding-top: 60px;
    }
    .img-wrapper span{
        top: 180px;
        /* left: 35px; */
        font-size: 2.5em;
    }
}
@media screen and (max-width: 915px){
    section{
        padding-top: 10px;
    }
}

@media screen and (max-width: 600px){
    section{
        padding-top: 30px;
    }
    .img-wrapper{
        width: 330px;
        height: 330px;
    }
    .img-wrapper span{
        top: 150px;
        left: 15px;
        font-size: 2.5em;
        font-weight: 600;
    }
    #gallery_span{
        left: 55px;
    }
}



@media screen and (max-width: 510px){
    section{
        padding-top: 10px;
    }
    .img-wrapper{
        width: 280px;
        height: 280px;
    }
    .img-wrapper span{
        top: 135px;
        left: 30px;
        font-size: 1.8em;
        font-weight: 600;
    }
    /* .img-wrapper span{
        top: 135px;
        left: 8px;
        font-size: 2.35em;
        font-weight: 600;
    } */
    #gallery_span{
        left: 60px;
    }
}


@media screen and (max-width: 420px){
    .img-wrapper{
        width: 250px;
        height: 250px;
    }
    .img-wrapper span{
        top: 120px;
        left: 25px;
        font-size: 1.7em;
        font-weight: 550;
    }
    #gallery_span{
        left: 50px;
    }
}


/* 
  @media screen and (max-width: 1385px){

    .img-wrapper{
        width: 225px;
        height: 225px;
    }
  }

  @media screen and (max-width: 1300px){
    .img-wrapper{
        width: 210px;
        height: 210px;
    }
  }

  @media screen and (max-width: 1190px){

    .torturi-aniversare, .torturi-botez, .torturi-majorate, .torturi-caserola{
        justify-content: center;
    }
    .img-wrapper{
        margin-left: 40px;
        margin-right: 40px;
    }
  }

  @media screen and (max-width: 1005px){
    .sidebar-menu{
        display: none;
    }
    .img-wrapper{
        margin: 20px;
    }
  }
  @media screen and (max-width: 950px){

    .img-wrapper{
        width: 200px;
        height: 200px;
    }
  }
  @media screen and (max-width: 910px){

   
  }

  @media screen and (max-width: 870px){
    main{
        width: 100%;
        /* background-color: pink; 
    }
    
   
  }

  @media screen and (max-width: 835px){
    .img-wrapper{
        width: 180px;
        height: 180px;
    }
  }

  @media screen and (max-width: 750px){
    .img-wrapper{
        width: 200px;
        height: 200px;
    }
    .img-wrapper{
        margin: 30px;
    }
  }

  @media screen and (max-width: 605px){
    .img-wrapper{
        width: 180px;
        height: 180px;
    }
  }

  @media screen and (max-width: 563px){
    .img-wrapper{
        width: 150px;
        height: 150px;
    }
    .breakline img{
        height: 15px;
    }
    .breakline{
        font-size: 1.2em;
        margin: 20px;
    }
    main{
        width: 100%;
    }
    .cakes-grid{
        padding-left: 0px;
        width: 100%;
    }
  }

  @media screen and (max-width: 500px){
    .img-wrapper{
        width: 110px;
        height: 110px;
        margin: 10px;
    }
  }

  @media screen and (max-width: 445px){

    .img-wrapper{
        width: 100px;
        height: 100px;
    }
  }

  @media screen and (max-width: 415px){
    .img-wrapper{
        width: 130px;
        height: 130px;
        margin: 15px;
    }
  }
  @media screen and (max-width: 375px){
    .img-wrapper{
        width: 120px;
        height: 120px;
        margin: 10px;
    }
  } */