---
import BaseLayout from "../components/BaseLayout.astro";
import CandybarSlideshow from "../components/CandybarSlideshow.astro";
import "../styles/candybar.css";
---
<BaseLayout>
	
	<main>

		<div class="section candybar-info">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<span>Candybar - opțiuni</span>
				<img src="/images/line_heart_right.PNG" alt="">
			</div>

			<ul>
				<li>Macarons</li>
				<li>Tarte</li>
				<li>Eclere</li>	
				<li>.........</li>
			</ul>

		</div>
		
		<div class="section candybar-photos">
			<CandybarSlideshow/>
		</div>
		

		<script src="../candybar_slideshow.js"></script>

	</main>

</BaseLayout>