---
import BaseLayout from "../components/BaseLayout.astro";
import Slideshow from "../components/Slideshow.astro";
import "../styles/nunta.css";
---
<BaseLayout>
	
	<main>

		
		

	</main>

	<script src="../nunta_scripts.js"></script>

</BaseLayout>