---
import BaseLayout from "../components/BaseLayout.astro";
import CandybarSlideshow from "../components/CandybarSlideshow.astro";
import "../styles/candybar.css";
---
<BaseLayout>
	
	<section>
		<div class="side candybar-photos">
			<CandybarSlideshow/>
		</div>

		<div class="side candybar-info">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<span>Candy Bar pentru nunți și botezuri</span>
				<img src="/images/line_heart_right.PNG" alt="">
			</div>

			<p>Bine aţi venit la Candy Bar-ul nostru, 
				locul perfect pentru a adăuga un <i>strop de magie</i> 
				şi dulceață la cele mai importante momente din viața voastră!
				Indiferent dacă sărbătoriți o nuntă sau un botez, 
				selecția noastră de delicii va încânta invitații și 
				va transforma fiecare moment într-o amintire 
				de neuitat.
			</p>
			<p> 
				<strong>Tarte Pavlova.</strong>
				Aceste tarte ușoare și aerisite sunt acoperite cu 
				un strat generos de frişcă fină și decorate cu fructe proaspete, 
				creând un contrast perfect între dulceaţă şi aciditate, 
				fiind o alegere elegantă pentru fiecare eveniment.
			</p>
			<p> 
				<strong>Eclere.</strong>
				Delicioasele noastre eclere sunt umplute cu o cremă bogată și catifelată, 
				iar glazura de ciocolată le adaugă un strop de eleganță. 
				Fiecare muşcătură este o explozie de savoare ce va încânta fiecare invitat. 
			</p>
			<p> 
				<strong>Macarons.</strong>
				Aceste delicatese franţuzeşti, disponibile într-o varietate de arome,
				 de la vanilie clasică la zmeură vibrantă, sunt perfecte pentru a adăuga 
				 un strop de rafinament Candy Bar-ului vostru. 
			</p>

			<p> 
				<strong>Brioșe.</strong>
				Brioșele noastre pufoase și aromate sunt ideale pentru a adăuga un plus de căldură 
				şi familiaritate. Fie că preferaţi ciocolata decadentă sau fructele proaspete,
				 acestea vor fi cu siguranță pe placul tuturor. 
			</p>
			<p> 
				<strong>Croissante umplute cu cremă.</strong>
				Aceste croissante delicate, umplute cu o cremă fină și aromată, 
				aduc un plus de eleganță şi gust fiecărei mese, fiind un răsfăț pe care invitații 
				nu-l vor uita. 
			</p>
			<p> 
				<strong>Tarte Umplute cu Cremă şi Fructe.</strong>
				Aceste tarte delicioase sunt umplute cu o cremă fină şi acoperite cu fructe proaspete, 
				oferind un echilibru perfect între texturi şi arome, ideale pentru a răsfăța 
				papilele gustative ale invitaților. 
			</p>
			<p>
				<strong>Păhărele cu diverse gusturi.</strong>
				Aceste păhărele sunt disponibile în diferite arome și combinații, aducând un strop de 
				diversitate şi culoare Candy Bar-ului vostru. 
			</p>
			<p>
				<strong>Cheesecake.</strong>
				Deliciosul nostru cheesecake, disponibil în variante clasice sau cu fructe, 
				va adăuga o notă specială Candy Bar-ului, fiind un desert iubit de toată lumea. 
			</p>
			<p>
				Fiecare element din Candy Bar-ul nostru este pregătit cu dragoste şi atenție la detalii, 
				oferind o experiență dulce care va face din nunta sau botezul vostru un moment memorabil. 
			</p>

		</div>

	</section>

</BaseLayout>