---
import BaseLayout from "../components/BaseLayout.astro";
import Slideshow from "../components/Slideshow.astro";
import "../styles/candybar.css";
---
<BaseLayout>
	
	<main>

		<div class="candybar-wrapper">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<span>Candybar - opțiuni</span>
				<img src="/images/line_heart_right.PNG" alt="">
			</div>

			<ul>
				<li>Macarons</li>
				<li>Tarte</li>
				<li>Eclere</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>

		</div>
		
		<div class="candybar-photos">

			<div class="candybar img-wrapper">
				<img src="/public/images/nunta/candybar_hero_photo.jpg" alt="Candybar">
			</div>

		</div>
		

	</main>

	<script src="../nunta_scripts.js"></script>

</BaseLayout>