---
import BaseLayout from "../components/BaseLayout.astro";
import '../styles/contact.css';
---
<BaseLayout>
	<main>
		<div class="google-map">
			<!-- <img src="/images/location_ruths_cake.PNG" alt="Location"> -->
		</div>

		<div class="contact-info">
			<h2>Contact</h1>
				
			
			<p>
				<i class="fa fa-phone" aria-hidden="true"></i>
				- 0743820693</p>
			<p>
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				- L-S 8:00-18:00</p>
			<p> 
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				- Str. Botizului 43, Satu Mare 440101</p>
			<p>
				<a href="https://www.facebook.com/adina.deac.35" class="fa fa-facebook social-btn"></a> 
				,
				<a href="#" class="fa fa-instagram social-btn"></a>
			</p>
			<!-- <p>Contract: <a href="#">document_contract.pdf</a></p> -->
		</div>
		

	</main>
</BaseLayout>