---
import BaseLayout from "../components/BaseLayout.astro";
import '../styles/contact.css';
---
<BaseLayout>
	<main>
		<div class="google-map">
			<img src="/src/images/location_ruths_cake.png" alt="Location">
		</div>

		<div class="contact-info">
			<h2>Contact</h1>
			<p>Telefon: 0743820693</p>
			<p>Orar: L-S 8:00-18:00</p>
			<p>Adresa: Str. Botizului 43, Satu Mare 440101</p>
			<p>Contract: <a href="#">document_contract.pdf</a></p>
		</div>
		

	</main>
</BaseLayout>