---
import BaseLayout from "../components/BaseLayout.astro";
import Map from '../components/Map.astro';
import '../styles/contact.css';
---
<BaseLayout>
	<section>
		<div class="google-map">
			<Map/>
			<!-- <img src="/images/location_ruths_cake.PNG" alt="Location"> -->
		</div>

		<div class="contact-info">
			<h2>Contact</h1>
				
			
			<p>
				<i class="fa fa-phone" aria-hidden="true"></i>
				- 0743 820 693</p>
			<p>
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				- L: &nbspÎnchis <br>
				&nbsp &nbsp  M: &nbsp&nbsp08 - 16 <br>
				&nbsp &nbsp  Mi:&nbsp&nbsp08 - 16 <br>
				&nbsp &nbsp  J: &nbsp &nbsp 08 - 16 <br>
				&nbsp &nbsp  Vi: &nbsp  08 - 16 <br>
				&nbsp &nbsp  S: &nbsp &nbsp09 - 12 <br>
				&nbsp &nbsp  D: &nbsp &nbspÎnchis
			</p>
			<p> 
				<a href="https://g.co/kgs/uvYNNg3" class="contact-social-btn fa fa-map-marker"></a>
				- Str. Botizului 43, Satu Mare 440101

			</p>
			<p>
				<!-- &#x2022; -->
				<a href="https://www.facebook.com/RuthsCake" class="fa fa-facebook contact-social-btn"></a> 
				&#x2022;
				<a href="https://www.instagram.com/ruth.cake_?igsh=dHZ1MzJ5anhkenEy" class="fa fa-instagram contact-social-btn"></a>
				<!-- &#x2022; -->
				
			</p>
			<!-- <p>Contract: <a href="#">document_contract.pdf</a></p> -->
		</div>
		

	</section>
</BaseLayout>