---
import BaseLayout from "../components/BaseLayout.astro";
import '../styles/despre.css';
---
<BaseLayout>
	
	<section>

		<div class="img-wrapper small-screens">
			<img class="adina-img" src="https://adela-maris.sirv.com/Images/Adina_website/despre_photos/Adina_Sami_phone2.png?q=100" alt="Poza Adina">
		</div>

		<div class="about-text">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<img src="/images/line_heart_right.PNG" alt="">
			</div>
				

			<p>Bună! Mă numesc Adina Opriș,</p>
			<p> și alături de o echipă de oameni minunați, formăm: <strong><i>Ruth's Cake!</i></strong></p>
			<p>Ruth's Cake s-a născut dintr-o pasiune îndelungată de a crea ceva dulce și bun, 
				însa nu orișicum - la superlativ! 
				Asta pentru că trebuia să încânt ființele cele mai dragi mie: familia mea. </p>

			<p>Ceea ce a început ca o investiție a timpului liber și a plăcerii, s-a transformat într-o afacere mică de familie, 
				fiind o preocupare ocazională, ca mai apoi să ia amploarea unei cofetării în toată regula,
				 devenind defapt un <i>stil de viață</i>.  </p>

			<p>Ador ceea ce fac, iar bucuria mea este că o fac alături de cei dragi, 
				și pentru oameni, care îmi sunt mereu dragi.
			De aceea în tot ce realizez, este o părticică de <i>suflet</i>, pe lângă un <i>mare gust!</i></p>
			<p>Ingredientele folosite de noi sunt naturale, accentul fiind pus pe 'homemade' - un gust cât mai aproape de 
				cel de acasă, totuși păstrând savoarea unică proprie fiecărei creații care ne poartă amprenta.
			</p>
			<p>Aștepăm cu drag să încercați produsele noastre, și să vă delectați simțurile</p>
			<p> cu alesele delicii marca <strong><i>Ruth's Cake</i></strong>.</p>
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<img src="/images/line_heart_right.PNG" alt="">
			</div>
		</div>

		<div class="img-wrapper large-screens">
			<img class="adina-img" src="https://adela-maris.sirv.com/Images/Adina_website/despre_photos/Adina_Sami2.png?q=100" alt="Poza Adina">
		</div>

	</section>

</BaseLayout>