---
import BaseLayout from "../components/BaseLayout.astro";
import '../styles/despre.css';
---
<BaseLayout>
	
	<main>

		

		<div class="about-text">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<img src="/images/line_heart_right.PNG" alt="">
			</div>


			<div class="first-part">
				<div class="first-part-text">
					<p class="first-line">Buna! Numele meu este Adina Opris - </p>
					<p>cofetar, designer, patiser si nu in ultimul rand sotie si mama. </p>
					<p>Ruth's Cake s-a nascut dintr-o pasiune indelungata de a crea ceva dulce si bun, 
						insa nu orisicum - la superlativ! 
						Asta pentru ca trebuia sa incant fiintele cele mai dragi mie: familia mea. </p>
					<p>Ceea ce a inceput ca o investitie a timpului liber si a placerii s-a transformat intr-o afacere mica de familie, 
						fiind o preocupare ocazionala, ca mai apoi sa ia amploarea unei cofetarii in toata regula,
						 devenind defapt un <i>stil de viata</i>.  </p>
				</div>
				

				 <img class="adina-img" src="/images/Adina_eu_nunta_cropped.PNG" alt="Poza Adina">

			</div>
			



			<p>Ador ceea ce fac, iar bucuria mea este ca o fac alaturi de cei dragi, 
				si pentru oameni, care imi sunt mereu dragi.
			De aceea in tot ce realizez, este o particica de <i>suflet</i>, pe langa un <i>mare gust!</i></p>
			<p>Ingredientele folosite de noi sunt naturale, accentul fiind pus pe 'homemade' - un gust cat mai aproape de 
				cel de acasa, totusi pastrand savoarea unica proprie fiecarei creatii care imi poarta amprenta.
			</p>
			<p>Astept cu drag sa incercati produsele noastre, si sa va delectati simturile</p>
			<p> cu alesele delicii marca <strong><i>Ruth's Cake</i></strong>.</p>
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<img src="/images/line_heart_right.PNG" alt="">
			</div>
		</div>

	</main>


</BaseLayout>