---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<header>
			<nav>
				<ul>
					<li><a href="despre.html">Despre</a></li>
                    <li><a href="torturi.html">Torturi</a></li>
                    <li><a href="candybar.html">Candybar</a></li>
                    <li><a class="logo" href="index.html">Logo</a></li>
                    <li><a href="prajituri.html">Prajituri</a></li>
                    <li><a href="comenzi.html">Comenzi</a></li>
                    <li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</header>

	</body>
</html>
