---
import BaseLayout from "../components/BaseLayout.astro";
import Slideshow from "../components/Slideshow.astro";
---
<BaseLayout>
    
	<Slideshow/>

	<!-- The dots/circles -->
    <div class="slideshow-dots">
        <span class="dot" ></span>
        <span class="dot" ></span>
        <span class="dot" ></span>
        <span class="dot" ></span>
    </div>

</BaseLayout>