---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/marturii.css";
---
<BaseLayout>
	
	<main>

		
		
		<div class="section marturii-photos">
            <div class="img-wrapper">
                <img src="/images/nunta/marturii/marturii_collage-min.png" alt="Marturii Photo">
            </div>
		</div>

		<div class="section marturii-info">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<span>Mărturii</span>
				<img src="/images/line_heart_right.PNG" alt="">
			</div>

			<p>Pentru a sărbători dragostea voastră, am pregătit mărturii delicioase, 
				fiecare caserolă având între 200 şi 250 g. 
			</p>
			<p>
				Mirele şi mireasa pot alege gramajul dorit, în funcţie de numărul de prăjituri: 
				cinci sau şase bucăţi dintr-un sortiment variat, care include:
				 Kinder, Sneakers, Bounty, Fanta, Foi cu miere, Medovik, Lămâița și Mușuroi.
			</p>
			<p> Invitații vor avea ocazia să savureze aceste delicii dulci, 
				aducându-le acasă o amintire gustativă din ziua specială a nunții. 
			</p>

		</div>
		

	</main>

</BaseLayout>