---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/marturii.css";
---
<BaseLayout>
	
	<main>

		<div class="marturii-wrapper">
			<div class="breakline">
				<img src="/images/line_heart_left.PNG" alt="">
				<span>Mărturii</span>
				<img src="/images/line_heart_right.PNG" alt="">
			</div>

			

		</div>
		
		<div class="marturii-photos">
            <div class="img-wrapper">
                <img src="/images/nunta/marturii_hero_photo.png" alt="Marturii Photo">
            </div>
		</div>
		

	</main>

</BaseLayout>