---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/nunta.css";
---
<BaseLayout>
	
	<main>

		
		<div id="cards-wrapper">

			<a href="/torturi_nunta" id="torturi-nunta-card" class="card">
				<div class="img-wrapper hover-effect">
					<img src="/images/nunta/wedding_cake_hero_photo-min.jpg" alt="Tort Nunta">
					<span>Torturi de nuntă</span>
				</div>

			</a>
			
			<a href="/candybar" id="candybar-card" class="card">
				<div class="img-wrapper hover-effect">
					<img src="/images/nunta/candybar_hero_photo.jpg" alt="Candybar">
					<span>Candy Bar</span>
				</div>
			</a>

			<a href="/marturii" id="marturii-card" class="card">
				<div class="img-wrapper hover-effect">
					<img src="/images/nunta/marturii/20240301_091506-min.jpg" alt="Marturii">
					<span>Mărturii</span>
				</div>
			</a>
		</div>

		<div class="offer-btn">
			<a href="/oferta_nunta">Vezi oferta noastră</a>
		</div>

		
		

	</main>

	<!-- <script src="../nunta_scripts.js"></script> -->
	

</BaseLayout>