---
import BaseLayout from "../components/BaseLayout.astro";
import Slideshow from "../components/Slideshow.astro";
import "../styles/nunta.css";
---
<BaseLayout>
	
	<main>

		<div class="breakline">
			<img src="/images/line_heart_left.PNG" alt="">
			<span>Pachet Nunta</span>
			<img src="/images/line_heart_right.PNG" alt="">
		</div>
		

		<div class="images-wrapper">
			<div class="torturi-nunta img-wrapper">
				<img src="/public/images/nunta/wedding_cake_hero_photo.jpg" alt="Tort Nunta">
				<span>Torturi de nuntă</span>
			</div>
			<div class="candybar img-wrapper">
				<img src="/public/images/nunta/candybar_hero_photo.jpg" alt="Candybar">
				<span>Candybar</span>
			</div>
			<div class="marturii img-wrapper">
				<img src="/public/images/nunta/marturii_hero_photo.png" alt="">
				<span>Mărturii</span>
			</div>
		</div>
		

	</main>

	<script src="../nunta_scripts.js"></script>

</BaseLayout>