---
import BaseLayout from "../components/BaseLayout.astro";
import Slideshow from "../components/Slideshow.astro";
import "../styles/nunta.css";
---
<BaseLayout>
	
	<main>
		<div class="torturi-nunta img-wrapper">
			<img src="/public/images/nunta/wedding_cake_hero_photo.jpg" alt="Tort Nunta">
		</div>
		<div class="candybar img-wrapper">
			<img src="/public/images/nunta/candybar_hero_photo.jpg" alt="Candybar">
		</div>
		<div class="marturii img-wrapper">
			<img src="/public/images/nunta/marturii_hero_photo.png" alt="">
		</div>

	</main>


</BaseLayout>