---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/oferta_nunta.css";
---

<BaseLayout>

    <main>
        <section class="cards-wrapper">

            <div class="card option1">
                <div class="breakline">
                    <img src="/images/line_heart_left.PNG" alt="">
                    <div class="option-title">
                        <span>Pachetul 1</span>
                        <span>(120-150 pers)</span>
                    </div>
                    <img src="/images/line_heart_right.PNG" alt="">
                </div>
    
                <ul>
                    <li>Macarons</li>
                    <li>Tarte</li>
                    <li>Eclere</li>	
                    <li>Savarine</li>
                    <li>Pavlova</li>
                </ul>
            </div>

            <div class="card option2">
                <div class="breakline">
                    <img src="/images/line_heart_left.PNG" alt="">
                    <div class="option-title">
                        <span>Pachetul 2</span>
                        <span>(200 pers)</span>
                    </div>
                    <img src="/images/line_heart_right.PNG" alt="">
                </div>
    
                <ul>
                    <li>Macarons</li>
                    <li>Tarte</li>
                    <li>Minieclere</li>	
                    <li>Minicheesecakes</li>
                    <li>Paharele</li>
                    <li>Cannoli</li>
                    <li>Savarine</li>
                    <li>Cake pops</li>
                </ul>
            </div>

            <div class="card option3">
                <div class="breakline">
                    <img src="/images/line_heart_left.PNG" alt="">
                    <div class="option-title">
                        <span>Pachetul 3</span>
                        <span>(300 pers)</span>
                    </div>
                    <img src="/images/line_heart_right.PNG" alt="">
                </div>
    
                <ul>
                    <li>Macarons</li>
                    <li>Tarte</li>
                    <li>Eclere</li>	
                    <li>Minicheesecakes</li>
                    <li>Paharele</li>
                    <li>Cannoli</li>
                    <li>Savarine</li>
                    <li>Cake pops</li>
                    <li>Muffins</li>
                    <li>Choux craquelin</li>
                    <li>Pastel de nata</li>
                </ul>
            </div>

        </section>

    </main>

</BaseLayout>