---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/oferta_nunta.css";
---

<BaseLayout> 

    <section>
        <div class="cards-wrapper">

            <div class="card" id="option1">

                <div >
                    <div class="breakline">
                        <img src="/images/line_heart_left.PNG" alt="">
                        <div class="option-title">
                            <span> Basic </span>
                            <span><strong>18 lei</strong> / pers</span>
                        </div>
                        <img src="/images/line_heart_right.PNG" alt="">
                    </div>
    
                    <ul>
                        <li>Eclere*</li>
                        <li>Mini mousse*</li>
                        <li>Tarte</li>	
                        <li>Pavlova</li>
                        <li>Cannoli</li>
                        <li>Cupcakes</li>
                        <li>Cheesecake</li>
                        <li>Bezele</li>
                        <li>Crinkles</li>
                    </ul>

                    <p>3 prăjituri de casă / pers</p>
                    <p>* 3 sortimente</p>

                </div>

            </div>

            <div  class="card" id="option2">
                <div  >
                    <div class="breakline">
                        <img src="/images/line_heart_left.PNG" alt="">
                        <div class="option-title">
                            <span>Premium</span>
                            <span><strong>23 lei</strong> / pers</span>
                        </div>
                        <img src="/images/line_heart_right.PNG" alt="">
                    </div>
    
                    <ul>
                        <li>Eclere*</li>
                        <li>Mini Mousse*</li>
                        <li>Macarons</li>	
                        <li>Tarte | Cake Pops</li>
                        <li>Pavlova</li>
                        <li>Cannoli</li>
                        <li>Cupcakes</li>
                        <li>Cheesecake</li>
                        <li>Bezele</li>
                        <li>Crinkles</li>
                    </ul>

                    <p>4 prăjituri de casă / pers</p>
                    <p>* 4 sortimente</p>
                </div>
            </div>

            <div class="card" id="option3">
                <div >
                    <div class="breakline">
                        <img src="/images/line_heart_left.PNG" alt="">
                        <div class="option-title">
                            <span>Premium+</span>
                            <span><strong>28 lei</strong> / pers</span>
                        </div>
                        <img src="/images/line_heart_right.PNG" alt="">
                    </div>
        
                    <ul>
                        <li>Eclere*</li>
                        <li>Mini mousse*</li>
                        <li>Macarons</li>	
                        <li>Tarte | Cake Pops</li>
                        <li>Pavlova | Cannoli</li>
                        <li>Choux craquelin</li>
                        <li>Verinne cu Panna Cotta</li>
                        <li>Cupcakes</li>
                        <li>Cheesecake</li>
                        <li>Bezele</li>
                        <li>Crinkles</li>
                    </ul>

                    <p>5 prăjituri de casă / pers</p>
                    <p>*4 sortimente</p>
                </div>
            </div>
            
            <!-- Next and previous buttons -->
            <a id="prevBtn">&#10094;</a>
            <a id="nextBtn">&#10095;</a>
        </div>

        <div class="info-offers">
            <p>* Va invitam sa ne contactati pentru a putea plasa o comanda finala in functie de pachetul dorit.</p>
        </div>

        <script src="../oferta_nunta.js"></script>
    </section>

</BaseLayout>