---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/prajituri.css";
---
<BaseLayout>

	<main>
		<div class="sidebar-menu">
            <div class="sidebar-item-box">
                <a href="#tava">La tava</a>
            </div>

            <div class="sidebar-item-box">
                <a href="#asortate">Asortate</a>
            </div>

            <div class="sidebar-item-box">
                <a href="#copilariei">Prajiturile Copilariei</a>
            </div>

            <div class="sidebar-item-box">
                <a href="#fursecuri">Fursecuri</a>
            </div>
        </div>


		<div class="cakes-grid">


			<div id="tava" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>La tava</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

			<div class="prajituri-tava">
				<div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
			</div>


			<div id="asortate" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Asortate</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

			<div class="prajituri-asortate">
				<div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
			</div>

			<div id="copilariei" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Prajiturile Copilariei</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

			<div class="prajiturile-copilariei">
				<div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
			</div>

			<div id="fursecuri" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Fursecuri</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

			<div class="fursecuri">
				<div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.PNG" alt="Little Cake Symbol">
                </div>
			</div>
		

		</div>

	</main>

</BaseLayout>