---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/torturi.css";


---
<BaseLayout>
	<main>
        
        <div id="cards-wrapper">

			<a href="" id="torturi_comanda" class="card">
				<div class="img-wrapper hover-effect">
					<img src="/images/torturi/torturi_comanda/felii.jpeg" alt="Tort Comanda">
					<span id="order_cakes">Torturi comandă</span>
				</div>
			</a>

            <a href="/torturi_galerie" id="torturi_comanda" class="card">
				<div class="img-wrapper hover-effect">
					<img src="/images/torturi/cakes_collage.png" alt="Tort Comanda">
					<span>Galerie Foto</span>
				</div>
			</a>

        </div>

           
        
    </main>

</BaseLayout>