---
import BaseLayout from "../components/BaseLayout.astro";
import WeddingCakeSlideshow from "../components/WeddingCakeSlideshow.astro";
import "../styles/torturi_nunta.css";

---
<BaseLayout>

	<section>

        <div class="side wed-cakes-slideshow">
            <WeddingCakeSlideshow/>
            
        </div> 

        <div id="torturi-nunta-info" class="side">
            <div class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Torturi de nuntă</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>
            <p>
                La Ruth's Cake, fiecare tort de nuntă este o capodoperă personalizată, 
                creată cu atenție la detalii și cu dedicație față de preferințele mirilor.
                 Ne mândrim cu faptul că oferim torturi unice, care reflectă stilul și personalitatea fiecărui cuplu,
                  transformând fiecare eveniment într-o experiență memorabilă.
            </p>
             
            <p>
                <strong>Personalizare Unică</strong>
            </p>
            <p>Fiecare tort poate fi adaptat în funcție de gusturile și dorințele mirilor.
                    De la alegerea aromelor (ciocolată decadentă, vanilie rafinată, fructe proaspete)
                    până la designul exterior (de la clasic la modern, cu detalii florale sau elegante),
                    ne asigurăm că fiecare detaliu este exact așa cum vă doriți.
            </p>
            <p>
                <strong>Ingrediente de Calitate</strong>
            </p>
                <p> Folosim ingrediente de cea mai bună calitate pentru a crea torturi delicioase și proaspete.
                     Ne preocupăm de sănătatea clienților noștri și oferim opțiuni <i>fără gluten</i>, <i>vegane</i> sau <i>fără zahăr</i>, 
                     astfel încât fiecare invitat să se poată bucura de aceste delicatese.
                </p>
               
            <p>
                <strong>Design Artistic</strong>
            </p> 
            <p> 
                Torturile noastre sunt nu doar gustoase, ci și spectaculoase din punct de vedere vizual. 
                Colaborăm cu mirii pentru a dezvolta un design care să se potrivească temei nuntii,
                 utilizând tehnici inovatoare și materiale de decor de înaltă calitate.
            </p>
               
            <p>
                <strong>Servicii Complete</strong>
            </p>      
            <p> 
                Pe lângă torturile personalizate, oferim și consultanță pentru alegerea celor mai potrivite opțiuni, 
                astfel încât totul să fie perfect în ziua cea mare. 
                Ne ocupăm de livrarea și asamblarea tortului, asigurându-ne că ajunge la destinație într-o stare impecabilă.
            </p>
               
            <p>
                <strong>Amintiri de Neuitat</strong>
            </p> 
                
            <p> La <i>Ruth's Cake</i>, credem că tortul de nuntă este mai mult decât un simplu desert;
                 este o parte din <i>povestea voastră</i>. Fiecare felie de tort este o amintire dulce, 
                 iar noi suntem aici pentru a transforma visurile voastre în realitate.
            </p>
               
            <p>
                Alegeți Ruth's Cake pentru tortul vostru de nuntă și permiteți-ne să aducem un 
                <i>strop de magie</i> în ziua voastră specială!
            </p>

            <!-- <div id="back-button">
                <a href="/nunta">Inapoi</a>
            </div> -->

        </div>

		
		

	</section>

	
	

</BaseLayout>