---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/torturi.css";


---
<BaseLayout>
	<section>
        
        <div id="cards-wrapper">

			<a href="/torturi_comanda" id="torturi_comanda" class="card">
				<div class="img-wrapper hover-effect">
					<img src="https://adela-maris.sirv.com/Images/Adina_website/torturi/felii.jpeg?q=100" alt="Tort Comanda">
					<span id="order_cakes_span">Torturi comandă</span>
				</div>
			</a>

            <a href="/torturi_galerie" id="torturi_galerie" class="card">
				<div class="img-wrapper hover-effect">
					<img src="https://adela-maris.sirv.com/Images/Adina_website/torturi/cakes_collage.png?q=100" alt="Galerie Foto">
					<span id="gallery_span">Galerie Foto</span>
				</div>
			</a>

        </div>

           
        
    </section>

</BaseLayout>