---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/torturi_galerie.css";
const photoSources_aniversare = [
    "20231112_140037-min","zile_nastere18","20240120_134350-min","zile_nastere5","20231209_134055-min",
    "20231014_130153-min",
     "20231021_101121-min",
     "20231230_121621-min", "20231230_175004-min",
     "20240128_123218-min",
    "20240216_062938-min", "20240317_082630-min", "20240323_101447-min",
      "20240330_144659-min",
    "20240402_104002-min", "20240406_122213-min",
    "20240413_132843-min", "tort_gradinita-min",
    "20231028_221923-min", "20230825_162757-min", "20230826_133656-min",
    "20230909_104144-min", "20230916_135615-min", "20230922_160637-min",
    "20230923_110015-min", "20230926_110400-min",
    "zile_nastere1", "zile_nastere2", "zile_nastere3",
    "zile_nastere4","zile_nastere6","zile_nastere7",
    "zile_nastere8","zile_nastere9","zile_nastere10",
    "zile_nastere11","zile_nastere12","zile_nastere13",
    "zile_nastere14","zile_nastere15",
    "zile_nastere16","zile_nastere17",
    "zile_nastere19","zile_nastere20","zile_nastere21",
    "zile_nastere22","zile_nastere23","zile_nastere24",
    "zile_nastere25","zile_nastere26","zile_nastere27",
    "zile_nastere28","zile_nastere29","zile_nastere30",
    "zile_nastere31","zile_nastere32","zile_nastere33",
    "zile_nastere34","zile_nastere35","zile_nastere36"
    
]; 

const photoSources_botez =[
    "20240103_165102-min","botez_cake1", "botez_cake3_big","botez_cake2","IMG_20230305_152116-min"
];

const photoSources_majorat =[
    "20240601_190518","20240614_215922-min","cake_majorate", "20221028_152016-min",
    "rsz_20240731_160859", "20230923_183747-min"
];

const photoSources_caserola=[
    "IMG_20230307_145628", "IMG_20230307_145912", "IMG_20230307_150318",
    "IMG_20230307_150708", "IMG_20230307_150804", "IMG_20230307_150818",
    "IMG_20230307_150841", "IMG_20230307_150914", "IMG_20230307_151901",
    "IMG_20230307_151949", "IMG_20230307_152345"
];

---
<BaseLayout>
	<section>

        <div class="cakes-grid">
            
            <div id="aniversare" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Aniversare</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

            <div class="torturi-aniversare">
                
                { 
                photoSources_aniversare.map( (photoSource) => (
                    <div class="img-wrapper">
                        <img  src={`/images/torturi/zile_nastere/${photoSource}.jpg`} alt="Little Cake">

                        <!-- The Modal -->
                        <div class="modal">

                            <!-- The Close Button -->
                            <a href="javascript:void(0)" class = "closebtn">&times;</a>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="imgModal">

                        </div>
                    </div>
                     ))
                }

            </div>

           
            <div id="botez" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Botez</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

            <div class="torturi-botez">
                { 
                photoSources_botez.map( (photoSource) => (
                    <div class="img-wrapper">
                        <img  src={`/images/torturi/botez/${photoSource}.jpg`} alt="Little Cake">
                        <!-- The Modal -->
                        <div  class="modal">

                            <!-- The Close Button -->
                            
                            <a href="javascript:void(0)" class = "closebtn">&times;</a>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="imgModal">

                        </div>
                    </div>
                     ))
                }

            </div>

            <div id="majorate" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Majorate</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

            <div class="torturi-majorate">
                
                { 
                photoSources_majorat.map( (photoSource) => (
                    <div class="img-wrapper">
                        <img  src={`/images/torturi/majorate/${photoSource}.jpg`} alt="Little Cake">
                        <!-- The Modal -->
                        <div class="modal">

                            <!-- The Close Button -->
                            
                            <a href="javascript:void(0)" class = "closebtn">&times;</a>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="imgModal">

                        </div>
                    </div>
                     ))
                }
            </div>
          
            <div id="caserola" class="breakline">
                <img src="/images/line_heart_left.PNG" alt="">
                <span>Tort Caserola</span>
                <img src="/images/line_heart_right.PNG" alt="">
            </div>

            <div  class="torturi-caserola">
                { 
                photoSources_caserola.map( (photoSource) => (
                    <div class="img-wrapper">
                        <img  src={`/images/torturi/caserola/${photoSource}-min.jpg`} alt="Little Cake">
                        <!-- The Modal -->
                        <div class="modal">

                            <!-- The Close Button -->
                            
                            <a href="javascript:void(0)" class = "closebtn">&times;</a>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="imgModal">

                        </div>
                    </div>
                     ))
                }
{/* 
                <div class="img-wrapper">
                    <img src="/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div> */}

            </div>

            
        </div>
        <script src="../img_gallery.js"></script>
    </section>

</BaseLayout>