---
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/torturi.css";
---
<BaseLayout>
	<main>
        <div class="sidebar-menu">
            <div class="sidebar-item-box">
                <a href="#aniversare">Aniversare</a>
            </div>

            <div class="sidebar-item-box">
                <a href="#botez">Botez</a>
            </div>

            <div class="sidebar-item-box">
                <a href="#majorate">Majorate</a>
            </div>

            <div class="sidebar-item-box">
                <a href="#diverse">Diverse</a>
            </div>

        </div>

        <div class="cakes-grid">
            
            <div id="aniversare" class="breakline">
                <img src="/src/images/line_heart_left.png" alt="">
                <span>Aniversare</span>
                <img src="/src/images/line_heart_right.png" alt="">
            </div>

            <div class="torturi-aniversare">
                

                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
            </div>

           
            <div id="botez" class="breakline">
                <img src="/src/images/line_heart_left.png" alt="">
                <span>Botez</span>
                <img src="/src/images/line_heart_right.png" alt="">
            </div>

            <div class="torturi-botez">
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
    
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>

            </div>

            <div id="majorate" class="breakline">
                <img src="/src/images/line_heart_left.png" alt="">
                <span>Majorate</span>
                <img src="/src/images/line_heart_right.png" alt="">
            </div>

            <div class="torturi-majorate">
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
            </div>
          
            <div id="diverse" class="breakline">
                <img src="/src/images/line_heart_left.png" alt="">
                <span>Diverse</span>
                <img src="/src/images/line_heart_right.png" alt="">
            </div>

            <div  class="torturi-diverse">
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>
                <div class="img-wrapper">
                    <img src="/src/images/cake_photo_min.png" alt="Little Cake Symbol">
                </div>

            </div>

            
        </div>
    </main>

</BaseLayout>