

<section class="slideshow-container">


    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230826_183535-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230826_183623-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230826_183639-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230902_190743-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230902_190917-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230902_190926-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230902_190929-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230902_190934-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20230902_191000-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20231104_163706-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20231104_163709-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/20240308_122416-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0003-min.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0006-min.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0007-min.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0011-min.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0013-min.jpg" alt="Candybar Photo">
    </div>
    <!-- <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0015-min.jpg" alt="Candybar Photo">
    </div> -->
    <!-- <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0017-min.jpg" alt="Candybar Photo">
    </div> -->
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/IMG-20240811-WA0018-min.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/candybar1.jpeg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/candybar2.jpeg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/candybar4.jpeg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/candybar5.jpeg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/candybar12.jpeg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/images/nunta/candybar_slideshow/candybar13.jpeg" alt="Candybar Photo">
    </div>

    <!-- Next and previous buttons -->
    <a id="candybar-prevBtn">&#10094;</a>
    <a id="candybar-nextBtn">&#10095;</a>

    <script src="../candybar_slideshow.js"></script>

</section>