

<section class="slideshow-container">

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230826_183535.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230826_183623.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230826_183639.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230902_190743.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230902_190917.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230902_190926.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230902_190929.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230902_190934.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20230902_191000.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20231104_163706.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20231104_163709.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/20240308_122416.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0003.jpg" alt="Candybar Photo">
    </div>

    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0006.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0007.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0011.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0013.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0015.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0017.jpg" alt="Candybar Photo">
    </div>
    <div class="slide-item-candybar fade zoom-in">
        <img src="/public/images/nunta/candybar_slideshow/IMG-20240811-WA0018.jpg" alt="Candybar Photo">
    </div>

    <!-- Next and previous buttons -->
    <a id="candybar-prevBtn">&#10094;</a>
    <a id="candybar-nextBtn">&#10095;</a>

</section>