
<div id="overlay-screen" class="overlay">
  <a href="javascript:void(0)" id = "closebtn" class = "closebtn">&times;</a>
  <div class="overlay-content">
    <a href="/">Home</a>
    <a href="/despre">Despre noi</a>
    <a href="/torturi">Torturi</a>
    <a href="/nunta">Pachet nuntă</a>
    <a href="/prajituri">Prăjituri</a>
    <a href="/contact">Contact</a>
  </div>
</div>

<div id="hamburger" class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>