---
import '../styles/navigation.css';
---

<nav>
    <ul>
        <li><a class="logo" href="/">Logo</a></li>
        <li class="menu-item"><a  href="/despre">Despre</a></li>
        <li><a class="menu-item" href="/torturi">Torturi</a></li>
        <li><a class="menu-item" href="/candybar">Candybar</a></li>
        <li><a class="menu-item" href="/prajituri">Prajituri</a></li>
        <li><a class="menu-item" href="/comenzi">Comenzi</a></li>
        <li><a class="menu-item" href="/contact">Contact</a></li>
    </ul>
</nav>