---
import '../styles/navigation.css';
import HamburgerMenu from './HamburgerMenu.astro';
---

<nav>
    <ul class="initial-menu-list">
        <li class="logo-menu-item"><a class="logo" href="/">Logo</a></li>

        <ul class="menu-items-list">

            <li><a class="menu-item" href="/despre">Despre noi</a></li>

            <li class="torturi dropdown-menu">
                <a class="menu-item" href="/torturi">Torturi</a>
                <div class="dropdown-content dropdown-torturi">
                    <a href="../torturi#aniversare">Aniversare</a>
                    <a href="../torturi#botez">Botez</a>
                    <a href="../torturi#majorate">Majorate</a>
                    <a href="../torturi#caserola">Tort Caserola</a>
                </div>
            </li>
            <li class="nunta dropdown-menu">
                <a class="menu-item" href="/nunta">Pachet nunta</a>
                <div class="dropdown-content dropdown-nunta">
                    <a href="../torturi_nunta">Torturi nunta</a>
                    <a href="../candybar">Candy Bar</a>
                    <a href="../marturii">Marturii</a>
                    <a href="../oferta_nunta">Oferta pachete</a>
                </div>
            </li>

            <li class="prajituri dropdown-menu">
                <a class="menu-item" href="/prajituri">Prajituri</a>
                <div class="dropdown-content dropdown-prajituri">
                    <a href="../prajituri#tava">La tava</a>
                    <a href="../prajituri#asortate">Asortate</a>
                    <a href="../prajituri#copilariei">Prajiturile copilariei</a>
                    <a href="../prajituri#fursecuri">Fursecuri</a>
                </div>
            </li>

            <!-- <li><a class="menu-item" href="/comenzi">Comenzi</a></li> -->
            <li><a class="menu-item" href="/contact">Contact</a></li>
            
        </ul>

        <li class="menu-social-btns">
            <ul>
                <li class="li-social-btn"><a href="https://www.facebook.com/adina.deac.35" class="social-btn fa fa-facebook"></a></li>
                <li class="li-social-btn"><a href="#" class="social-btn fa fa-instagram"></a></li>
                <li class="li-social-btn map-btn"><a href="contact" class="social-btn fa fa-map-marker"></a></li>
            </ul>
        </li>

        <HamburgerMenu/>
        
    </ul>
</nav>