---
import '../styles/navigation.css';
---

<nav>
    <ul class="initial-menu-list">
        <li class="logo-menu-item"><a class="logo" href="/">Logo</a></li>

        <ul class="menu-items-list">

            <li><a class="menu-item" href="/despre">Despre</a></li>

            <li class="torturi dropdown-menu">
                <a class="menu-item a-torturi" href="/torturi">Torturi</a>
                <div class="dropdown-torturi dropdown-content">
                    <a href="torturi#aniversare">Aniversare</a>
                    <a href="torturi#botez">Botez</a>
                    <a href="torturi#majorate">Majorate</a>
                    <a href="torturi#diverse">Diverse</a>
                </div>
            </li>
            <li class="nunta dropdown-menu">
                <a class="menu-item" href="/nunta">Pachet nunta</a>
                <div class="dropdown-nunta dropdown-content">
                    <a href="#">Torturi nunta</a>
                    <a href="#">Candybar</a>
                    <a href="#">Marturii</a>
                </div>
            </li>

            <li class="prajituri dropdown-menu">
                <a class="menu-item" href="/prajituri">Prajituri</a>
                <div class="dropdown-prajituri dropdown-content">
                    <a href="prajituri#tava">La tava</a>
                    <a href="prajituri#asortate">Asortate</a>
                    <a href="prajituri#copilariei">Prajiturile copilariei</a>
                    <a href="prajituri#fursecuri">Fursecuri</a>
                </div>
            </li>

            <li><a class="menu-item" href="/comenzi">Comenzi</a></li>
            <li><a class="menu-item" href="/contact">Contact</a></li>
            <li><a href="#" class="social-btns fa fa-facebook"></a></li>
            <li><a href="#" class="social-btns fa fa-instagram"></a></li>
            <li><a href="#" class="social-btns fa fa-map-marker"></a></li>
            
        </ul>
        
    </ul>
</nav>