---
import '../styles/navigation.css';
import HamburgerMenu from './HamburgerMenu.astro';
---

<nav>
    <ul class="initial-menu-list">
        <li class="logo-menu-item"><a class="logo" href="/">Logo</a></li>

        <ul class="menu-items-list">

            <li><a class="menu-item" href="/despre">Despre noi</a></li>

            <li class="torturi dropdown-menu">
                <a class="menu-item" href="/torturi">Torturi</a>
                <div class="dropdown-content dropdown-torturi">
                    <a href="../torturi_comanda">Torturi comandă</a>
                    <a href="../torturi_galerie">Galerie Foto</a>
                </div>
            </li>
            <li class="nunta dropdown-menu">
                <a class="menu-item" href="/nunta">Pachet nuntă</a>
                <div class="dropdown-content dropdown-nunta">
                    <a href="../torturi_nunta">Torturi nuntă</a>
                    <a href="../candybar">Candy Bar</a>
                    <a href="../marturii">Mărturii</a>
                    <a href="../oferta_nunta">Ofertă pachete</a>
                </div>
            </li>

            <li class="prajituri dropdown-menu">
                <a class="menu-item" href="/prajituri">Prăjituri</a>
                <div class="dropdown-content dropdown-prajituri">
                    <a href="../prajituri#tava">La tavă</a>
                    <a href="../prajituri#speciale">Speciale</a>
                    <a href="../prajituri#asortate">Asortate</a>
                    <a href="../prajituri#copilariei">Prăjiturile copilăriei</a>
                    <!-- <a href="../prajituri#fursecuri">Fursecuri</a> -->
                </div>
            </li>

            <!-- <li><a class="menu-item" href="/comenzi">Comenzi</a></li> -->
            <li><a class="menu-item" href="/contact">Contact</a></li>
            
        </ul>

        <li class="menu-social-btns">
            <ul>
                <li class="li-social-btn"><a href="https://www.facebook.com/RuthsCake" target="_blank" class="social-btn fa fa-facebook"></a></li>
                <li class="li-social-btn"><a href="https://www.instagram.com/ruth.cake_?igsh=dHZ1MzJ5anhkenEy" target="_blank" class="social-btn fa fa-instagram"></a></li>
                <li class="li-social-btn map-btn"><a href="https://g.co/kgs/uvYNNg3" target="_blank" class="social-btn fa fa-map-marker"></a></li>
            </ul>
        </li> 

        <HamburgerMenu/>
        
    </ul>

    <script src="../hamburger_menu.js"></script>
    <script src="../navigation.js"></script>
</nav>