--- 
import '../styles/slideshow.css';
---

<section class = "slideshow-container">

    <div class="slide-item fade zoom-in slide-logo">
        <img src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/golden_logo_cut-Photoroom.png" 
        alt="Ruth's Cake Logo">
        <!-- <div class="slide-text">Ruth's Cake</div> -->
    </div>

    <div class="slide-item fade zoom-in">
        <img id="wed-img" 
        src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/wed_collage7.jpg" 
        alt="Wedding Cake">
        <div class="slide-text">Nunți</div>
    </div>

    <div class="slide-item fade zoom-in">
        <img id="cakes-img" 
        src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/wed_cake_collage_res.jpg" 
        alt="Wedding Cake">
        <div class="slide-text">Torturi</div>
    </div>

    

    <div class="slide-item fade zoom-in">
        <img id="candybar-img" 
        src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/candybar_collage2.jpg" 
        alt="CandyBar Photo">
        <div id="candybar-text" class="slide-text">Candy Bar</div>
    </div>

    <div class="slide-item fade zoom-in">
        <img id="anniv-img" 
        src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/birthday_collage_res.jpg" 
        alt="Birthday Cakes">
        <div class="slide-text">Aniversări</div>
    </div>

    <div class="slide-item fade zoom-in">
        <img id="special-img" 
        src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/special_ocasions_collage_res.jpg" 
        alt="Special Ocasions">
        <div class="slide-text">Speciale</div>
    </div>


    <div class="slide-item fade zoom-in">
        <img src="https://adela-maris.sirv.com/Images/Adina_website/slideshow_homepage/prajituri_collage_wide-min_res.png" 
        alt="Assorted Cookies">
        <div class="slide-text">Prăjituri</div>
    </div>

    
   
    <!-- Next and previous buttons -->
    <a id="prevBtn">&#10094;</a>
    <a id="nextBtn">&#10095;</a>

    <script src="../slideshow_firstPage.js"></script>


</section>