--- 
import '../styles/slideshow.css';
---

<section class = "slideshow-container">

    <div class="slide-item fade zoom-in slide-logo">
        <img src="/images/ruths_cake_logo_vertical.png" alt="Ruth's Cake Logo">
        <!-- <div class="slide-text">Ruth's Cake</div> -->
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/candybar_hero.png" alt="CandyBar Hero Photo">
        <!-- <div class="slide-text">Candy Bar</div> -->
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/wedding_cake.PNG" alt="Wedding Cake">
        <!-- <div class="slide-text">Torturi</div> -->
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/prajituri_hero.PNG" alt="Assorted Cookies">
        <!-- <div class="slide-text">Prajituri</div> -->
    </div>

    <!-- Next and previous buttons -->
    <a id="prevBtn">&#10094;</a>
    <a id="nextBtn">&#10095;</a>


</section>