--- 
import '../styles/slideshow.css';
---

<section class = "slideshow-container">


    <div class="slide-item fade zoom-in slide-logo">
        <img src="/images/ruths_cake_logo_vertical.png" alt="Ruth's Cake Logo">
        <!-- <div class="slide-text">Ruth's Cake</div> -->
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/wed_cake_collage_res.jpg" alt="Wedding Cake">
        <div class="slide-text">Torturi</div>
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/20230826_183639-min_res.jpg" alt="CandyBar Hero Photo">
        <div class="slide-text">Candy Bar</div>
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/birthday_collage_res.jpg" alt="Birthday Cakes">
        <div class="slide-text">Aniversari</div>
    </div>

    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/special_ocasions_collage_res.jpg" alt="Special Ocasions">
        <div class="slide-text">Speciale</div>
    </div>


    <div class="slide-item fade zoom-in">
        <img src="/images/slideshow/prajituri_collage_wide-min_res.png" alt="Assorted Cookies">
        <div class="slide-text">Prajituri</div>
    </div>

    <!-- Next and previous buttons -->
    <a id="prevBtn">&#10094;</a>
    <a id="nextBtn">&#10095;</a>

    <script src="../slideshow_firstPage.js"></script>


</section>