

<section class = "slideshow-container">

    <div class="slide-item fade">
        <img src="../src/images/ruths_cake_logo_vertical.PNG" alt="Ruth's Cake Logo">
        <div class="slide-text">Ruth's Cake</div>
    </div>

    <div class="slide-item fade">
        <img src="../src/images/slideshow/candybar_hero.PNG" alt="CandyBar Hero Photo">
        <div class="slide-text">Candy Bar</div>
    </div>

    <div class="slide-item fade">
        <img class = "hide" src="/src/images/slideshow/wedding_cake.PNG" alt="Wedding Cake">
        <div class="slide-text">Torturi</div>
    </div>

    <div class="slide-item fade">
        <img class = "hide" src="/src/images/slideshow/prajituri_hero.PNG" alt="Assorted Cookies">
        <div class="slide-text">Prajituri</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prevBtn" onclick="plusSlides(-1)">&#10094;</a>
    <a class="nextBtn" onclick="plusSlides(1)">&#10095;</a>

</section>